KRAKEN_EXECUTION_MODE=account
KRAKEN_REQUIRE_PAPER_MODE=false
KRAKEN_API_KEY=
KRAKEN_API_SECRET=
KRAKEN_FUTURES_URL=https://demo-futures.kraken.com/derivatives/api/v3
KRAKEN_DANGER_ALLOW_ANY_URL_HOST=true
TRADING_ENABLED=true
MIRROR_MODE=tournament
TOURNAMENT_OBJECTIVE=pnl
TOURNAMENT_RECOVERY_TAKE_PROFIT_ENABLED=true
TOURNAMENT_RECOVERY_PNL_THRESHOLD_USD=0
